.footer{
    background-color: #ffa200;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 5px 30px;
    text-align: center;
}

.link{
    text-decoration: none;
    color: #00000079;
    margin-left: 10px;

}
.link:hover{
    color: #000;
}